*{
    background-color: black;
    color: white;

}
div {
    border: 1px solid white;
    width: 25%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(53, 53, 53);
}
h2 {
    margin-left: 40%;
}
form{
    background-color:  rgb(53, 53, 53);
}
#nome,
#preco,
#cod,
#btn,
#desc{
    background-color: white;
    color: black;
}
#lblPreco,
#lblCod,
#lblNome,
#lblDescr{
    background-color:  rgb(53, 53, 53); 
}

#sucess {
    color: green;
    font-weight: bold;
}

#error {
    color: red;
    font-weight: bold;
}

#warning {
    color: orange;
    font-weight: bold;
}